<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emplyee.company.mapper.RankMapper">
    <update id="updatePrice">
        update ran
        <set>
            <if test="duty!=null">
                duty=#{duty},
            </if>
            <if test="price!=null">
                price=#{price}
            </if>
        </set>
        <where>
            num=#{num}
        </where>
    </update>


</mapper>